<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Sleepify</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Welcome to Sleepify!</strong>
    <p>{{ greeting }}! It is now {{ currentTime }}</p>
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-button shape="round" color="light" (click)="logSleep()">Log Sleep</ion-button>
      <ion-button shape="round" color="light" (click)="logSleepiness()">Log Sleepiness</ion-button>
      <ion-button shape="round" color="light" (click)="logSleepiness()">View History</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
