<ion-header>
  <ion-toolbar>
    <ion-title>Sleep History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>View past sleep and sleepiness records</p>

  <ion-segment [(ngModel)]="selectedHistory">
    <ion-segment-button value="overnight">
      Overnight Sleep
    </ion-segment-button>
    <ion-segment-button value="sleepiness">
      Sleepiness Levels
    </ion-segment-button>
  </ion-segment>

  <div class="cards-container">
    <ion-card *ngFor="let record of getRecords()">
      <ion-card-header>
        <ion-card-title>{{ record.summaryString() }}</ion-card-title>
        <ion-card-subtitle>{{ record.dateString() }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button shape="round" color="light" (click)="clearHistory()">Clear History</ion-button>
  </ion-toolbar>
</ion-footer>
